<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>atividade 11</title>
  </head>
  <body>
    <form><!--two-way-binding-->
      <div class="input">
        <label for="name">Nome</label> <br />
        <input type="text" [(ngModel)]="nome" name="nome" />
      </div>
      <div class="input">
        <label for="sobrenome">Sobrenome</label><br />
        <input type="text" [(ngModel)]="sobrenome" name="sobrenome" />
      </div>
      <div class="input">
        <label for="endereco">Endereço</label><br />
        <input type="text" [(ngModel)]="endereco" name="endereco" />
      </div>
      <div class="input">
        <label for="email">Email</label> <br />
        <input type="text" [(ngModel)]="email" name="email" />
      </div><!--two-way-binding-->
      <div class="submit"><!--event-binding-->
        <input type="submit" (click)="buttonClick($event)" value="Enviar" />
      </div><!--event-binding-->
    </form>
    <p>{{ nome }}</p>
    <p>{{ sobrenome }}</p>
    <p>{{endereco}}</p>
    <p>{{email}}</p>
  </body>
</html>
